.button {
  width: 120px;
  height: 30px;
  border-radius: 3px;
  font-size: 12px;
}

.blue-btn {
  background: rgb(62, 145, 247);
}

.circle-btn {
  width: 30px !important;
  font-size: 20px !important;
  border-radius: 50%;
}

.red-text {
  color: red;
}

.white-text {
  color: white;
}