.creator {
  background: rgb(241, 242, 246);
  font-family: Arial;
  height: 100%;
}

.form {
  background: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 40px 20px;
  margin: 20px auto;
}

.label {
  margin: 10px 0;
}

.input {
  margin-bottom: 20px;
  border: 1px solid #aaaaaa;
  padding: 10px;
  height: 40px;
  font-size: 12px;
}

.requiredPrompt {
  color: red;
}